<!DOCTYPE html>
<html>
<head>
  <title>André Santos</title>
  <link rel="shortcut icon" href="<%= asset_path "favicon.ico" %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="André Augusto Costa Santos Personal Page">
  <meta name="author" content="André Santos">
  <meta name="google-site-verification" content="NDaPd5GhOLcZo71wspyC4nEVtNCMxaPmHU5TGHIuYdo" />
  <meta charset="utf-8">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
    <%= render "layouts/#{controller.sub_layout}" %>
</html>